<!DOCTYPE html>
<html>
<head>
<title>File/Text Comparator</title>
</head>
<style>
    div.mycontainer {
      width:100%;
      overflow:auto;
    }
    div.mycontainer2 {
      width:100%;
      overflow:scroll;
    }
div.mycontainer2 div {
  width:33%;  
  float:left;
}
    #buttons {
    padding-left: 44.5%;
}
    </style>
<body>
<h1>Welcome to our text & file comparator</h1>
<p><label for="mycontainer">Enter your text below:</label></p>
<form method=post>
<div class="mycontainer">
<textarea name=text_input1 rows="10" style="width: 49%;"></textarea>
<textarea name=text_input2 rows="10" style="width: 49%;"></textarea>
</div>
<br>
<div id="buttons">
<input type=submit value="Submit">
</div>
</form>
{% if check_if_diff_ans_has_value != '' %}
<h2>Difference as follows:</h2>
<div class="mycontainer2">

    <div class="child" style="width:49%;border: 1px solid black;overflow:scroll;">
        <pre>
            {% set i= 0 %}
            {% for line in diff_lines1 %}
            {% if line == '-\r\n' %}
            <span style="background-color: rgba(243, 21, 21, 0.947);font-style: bold;font-size: x-large;">{{ line }}</span>
            {% else %}
            {% if diff_lines2[i] == '-\r\n' %}
            <span style="background-color: rgba(40, 238, 110, 0.947);font-style: bold;font-size: x-large;">{{ line }}</span>
            {% else %}
            <span style="background-color: rgba(245, 245, 248, 0.947);font-style: bold;font-size: x-large;">{{ line }}</span>
            {% endif %}
            {% endif %}
            {% set i= i+1 %}
            {% endfor %}
        </pre>
    </div>

    <div class="child" style="width:49%; border: 1px solid black;overflow:scroll;">
        <pre>
            {% set i= 0 %}
            {% for line in diff_lines2 %}
            {% if line == '-\r\n' %}
            <span style="background-color: rgba(240, 26, 26, 0.947);font-style: bold;font-size: x-large;">{{ line }}</span>
            {% else %}
            {% if diff_lines1[i] == '-\r\n' %}
            <span style="background-color: rgba(66, 231, 124, 0.947);font-style: bold;font-size: x-large;">{{ line }}</span>
            {% else %}
            <span style="background-color: rgba(245, 245, 248, 0.947);font-style: bold;font-size: x-large;">{{ line }}</span>
            {% endif %}
            {% endif %}
            {% set i= i+1 %}
            {% endfor %}
        </pre>

    </div>
</div>
{% endif %}
</body>

</html>
