<!DOCTYPE html>
<html>
<head>
<title>File/Text Comparator</title>
</head>
<style>
    div.mycontainer {
      width:100%;
      overflow:auto;
    }
    div.mycontainer2 {
      width:100%;
      overflow:auto;
    }
div.mycontainer2 div {
  width:33%;  
  float:left;
}
    #buttons {
    padding-left: 44.5%;
}
    </style>
<body>
<h1>Welcome to our text & file comparator</h1>
<p><label for="mycontainer">Enter your text below:</label></p>
<form method=post>
<div class="mycontainer">
<textarea name=text_input1 rows="10" style="width: 49%;"></textarea>
<textarea name=text_input2 rows="10" style="width: 49%;"></textarea>
</div>
<br>
<div id="buttons">
<input type=submit value="Submit">
<input type="reset" value="Reset" onclick="resetForm()">
</div>
</form>
{% if check_if_diff_ans_has_value != '' %}
<h2>Difference as follows:</h2>
<div class="mycontainer2">

    <div class="child" style="width:49%;">
        <pre>
            {% set i= 0 %}
            {% for line in diff_lines1 %}
            {% if color_line1[i] == 'blue' %}
            <span style="background-color: rgba(252, 252, 252, 0.947);">{{ line }}</span>
            {% elif color_line1[i] == 'green' %}
            <span style="background-color: rgb(166, 239, 166);">{{ line }}</span>
            {% else %}
            <span style="background-color: rgb(243, 137, 137);">{{ line }}</span>
            {% endif %}
            {% set i = i + 1 %}
                <br>
            {% endfor %}
        </pre>
    </div>

    <div class="child" style="width:49%;">
        <pre>
            {% set i= 0 %}
            {% for line in diff_lines2 %}
            {% if color_line2[i] == 'blue' %}
            <span style="background-color: rgba(250, 250, 253, 0.947);">{{ line }}</span>
            {% elif color_line2[i] == 'green' %}
            <span style="background-color: rgb(166, 239, 166);">{{ line }}</span>
            {% else %}
            <span style="background-color: rgb(243, 137, 137);">{{ line }}</span>
            {% endif %}
            {% set i = i + 1 %}
                <br>
            {% endfor %}
        </pre>

    </div>
</div>
{% endif %}
<script>
    function resetForm() {
        document.getElementsByName("text_input1")[0].value = ''; // Clear the textarea
        document.getElementsByName("text_input2")[0].value = '';
        document.querySelector("pre").textContent = ''; // Clear the processed_text
        document.querySelector("h2").textContent = '';
    }
    </script>
</body>

</html>